<settings>
    <inputFilePath>E:\Work\Project Files\Woodie's\3.0\SKU Return Policy\Excel Script\Item Info 100823.xlsx</inputFilePath>
    <outputFilePath>E:\Work\Project Files\Woodie's\3.0\SKU Return Policy\Excel Script\output.xlsx</outputFilePath>
    <logsPath>E:\Work\Project Files\Woodie's\3.0\SKU Return Policy\Excel Script\logs</logsPath>
    <!--HTML Heading Values 1 to 6-->
    <heading>1</heading>
</settings>